<launch>
        
  <node name="ir_range_node" pkg="lab2" type="ir_range_node" />
  <node name="fanboat_serial" pkg="fanboat_ll" type="fanboat_serial.py" />
  <node name="fanboat_interface_node" pkg="lab3" type="fanboat_interface_node" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <!-- <remap from="/usb_cam/image_raw" to="/image"/> -->
  </node>

  <node name="landmarkDetector" pkg="landmark_self_sim" type="landmarkDetector" />
  
  <node name="angular_position_node" pkg="lab2" type="angular_position_node" />
  <param name="pParam" value="0.03" />  
  <param name="dParam" value="0.05" />
  <param name="iParam" value="0.0" />
  
  <node name="mixer_node" pkg="lab2" type="mixer_node" />

  <node name="avoid_state_node" pkg ="waypoint" type="avoid_state_node" />
  <node name="search_state_node" pkg ="waypoint" type="search_state_node" />
  <node name="pursue_state_node" pkg ="waypoint" type="pursue_state_node" />
  <node name="waypoint_node" pkg ="waypoint" type="waypoint_node" />
  <node name="landmark_info_node" pkg ="waypoint" type="landmark_info_node" />
  <node name="fanboat_info_node" pkg ="waypoint" type="fanboat_info_node" />

</launch>
