<launch>
  <node name="graphics_arbitrator_node" pkg="lab3" type="graphics_arbitrator_node">
      
  </node>
  <param name="detectBall" value="0" />
  <param name="detectLandmark" value="0" />

  <node name="ir_range_node" pkg="lab2" type="ir_range_node" />
  <node name="fanboat_serial" pkg="fanboat_ll" type="fanboat_serial.py" />
  <node name="fanboat_interface_node" pkg="lab3" type="fanboat_interface_node" />

  <node name="collection_switch_node" pkg="lab3" type="collection_switch_node" output="screen" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <!-- <remap from="/usb_cam/image_raw" to="/image"/> -->
  </node>

  <node name="landmarkDetector" pkg="landmark_self_sim" type="landmarkDetector">
    <remap from="image" to="/graphics_arbitrator/landmarkImage" />
  </node>

  <node name="ball_follow_node" pkg="lab3" type="ball_follow_node"/>
  <node name="landmark_follow_node" pkg="lab3" type="landmark_follow_node" />

  <param name="landmarkNumber" value="80" />
  <param name="targetDistance" value="1" />
  
  <param name="turnSpeed" value="30" />
  <param name="forwardMagnitude" value=".65" />
  
  <param name="consecutiveHitsThreshold" value="5" />
  <param name="hitsMax" value="15" />
  
  <param name="radiusThreshold" value="13"/>

  <param name="radiusThreshold" value="13"/>
  <param name="HIGH_BOUND" value="100"/>
  <param name="LOW_BOUND" value="-100"/>

  <rosparam param="thresh/">
    high: {h: 64, s: 206, v: 154}
    low:  {h: 22, s: 99,  v: 45}
  </rosparam>

  <node name="ball_detector_node" pkg="ball_detector" type="ball_detector_node">
    <remap from="image" to="/graphics_arbitrator/ballImage"/>
  </node>
  
  <node name="angular_position_node" pkg="lab2" type="angular_position_node" />
  <param name="pParam" value="0.03" />  
  <param name="dParam" value="0.05" />
  <param name="iParam" value="0.0" />
  
  <node name="mixer_node" pkg="lab2" type="mixer_node" />

</launch>
