<launch>
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node name="joy_splitter_node" pkg="lab2" type="joy_splitter_node" />

  <node name="triangle_node" pkg="lab2" type="triangle_node" />

  <node name="mux_node" pkg="lab2" type="mux_node" />
  <node name="mux_control_node" pkg="lab2" type="mux_control_node" />

  <node name="reactive_control_node" pkg="lab2" type="reactive_control_node" />
  <param name="target_dist" value="0.4" />
  <node name="ir_range_node" pkg="lab2" type="ir_range_node" />

  <node name="angular_position_node" pkg="lab2" type="angular_position_node" />
  <param name="pParam" value="0.01" />
  <param name="dParam" value="0.007" />
  <param name="iParam" value="0.0005" />

  <node name="mixer_node" pkg="lab2" type="mixer_node" />

  <node name="fanboat_serial" pkg="fanboat_ll" type="fanboat_serial.py" />
</launch>
